<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
		
		<!-- 自动扫描(自动注入) -->
    	<context:component-scan base-package="cn.upshi.springquartz"/>
		
		<!-- 自定义的Job类 -->
    	<bean id="backUpDataTask" class="cn.upshi.springquartz.job.BackUpDataTask"/>
	
	    <!-- 一个可执行的定时器  要执行的任务-->
	    <bean id="backUpDataBaseJobDetail" 
	    	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	        <!-- 指定Job类 -->
	        <property name="targetObject" ref="backUpDataTask"/>
	        <!-- 指定Job执行的方法 -->
	        <property name="targetMethod" value="backUp"/>
	    </bean>
	    
	    <!-- Job的触发器 执行的频率 -->
		<bean id="jobTrigger" 
			class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
	        <property name="jobDetail" ref="backUpDataBaseJobDetail"/>
	        <!-- 每5秒运行一次 -->
	        <property name="cronExpression" value="0 0 10 * * ?"/>
	    </bean>
	
	    <!-- Job调度器  将任务和频率添加到计划中-->
	    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	        <property name="triggers">
	            <list>
	                <ref bean="jobTrigger"/>
	            </list>
	        </property>
	    </bean>

</beans>